/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --clr-pop-red: #FE0879;
    --clr-pop-magenta: #FF82E2;
    --clr-pop-yellow: #FED715;
    --clr-pop-blue: #0037B3;
    --clr-light-blue: #70BAFF;

}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    background: #f7ebde;
    color: #08104f;
        
}


/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img,
picture {
  max-width: 100%;
  display: block;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  outline: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


header::before,
.lesson-types::before {
    display: block;
    content: '';
    height: 60px;
}


/* NAV */

.nav-color {
     background: var(--clr-pop-red);
     color: #f5f5f5; 
}

.nav-color-mobile {
    background: var(--clr-pop-red);
    color: #f5f5f5;   
}

.nav-item {
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
    color: #f5f5f5;
}

.active {
  border-bottom: 1px solid var(--clr-pop-red);
  
}

.nav-item-mobile {
    font-size: 2.5rem;
}

.logo {
    margin-top: 0;
    font-size: 1.5rem;
    color: #f5f5f5;
    font-family: 'Permanent Marker', cursive;
}



/* NAV */

/* HERO */

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  /* background: #f9e2c9;
  background-image: url(./img/backdrop.jpg);
  background-blend-mode: screen; */
}

.title-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* .spin {
  perspective: 500px;	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
} */

.img-logo {
  max-width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  order: 1;
  /* transform: rotateY(45deg);
	  animation: rotateAnimation 5s linear infinite; */

}


.title-card  {
  color: #f5f5f5;
  
}

.title-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 2;
  text-align: center;
  
}

.title-text,
.secondary-title-text {
    align-content: center;
}

.title-text {
  font-size: 2.5rem;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 0.5em;
}

.secondary-title-text {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1em;
}

.title-info button {
  font-family: 'Roboto', sans-serif;
  align-self: center;
  padding: 1em 2.5em;
  font-weight: bold;
  background: var(--clr-light-blue);
  box-shadow: 0.5em 0.5em 1.5em -1em;
  
}

.speech-bubble {
  display: none;
}

.speech-bubble-image {
  height: 170px;
  width: 200px;
}

/* ABOUT SECTION */

.about{
  font-family:'Roboto', sans-serif;
  color: var(--clr-pop-red);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-card {
  background: var(--clr-pop-yellow);
  padding: 1em 1.5em;
  border-radius: 10px; 
 
  /* min-height: 350px;  */
}

.card-pink {
  background: var(--clr-pop-red);
  color: #f7ebde;
}

.card-yellow {
  background: var(--clr-pop-yellow);
  
}

.about-card p {
  font-size: 1.1rem;
  font-weight: bold;
}

.about-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}


/* Menu Section */

.menu {
  background: #121212;
  background-image: url('./img/backdrop.jpg');
  background-blend-mode: overlay;
  padding: 1em;
  
}

.menu-title {
  margin: 1em auto 0.5em;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: var(--clr-pop-red);
  
}

.menu-title h1,
.lesson-title h1,
.links-title h1 {
  font-size: 2.5rem;
}

.materials-menu {
  background: var(--clr-pop-red);
  padding: 1em;
}

.menu-cards {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-top: 1.5em;
}

.card-info {
  background: #121212;
  background-image: url(./img/backdrop.jpg);
  background-blend-mode: overlay;
  color: white;
  opacity: 0.9;
  padding: 1.5em 2.5em;
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  align-items: center;
  border-radius: 50%;
  color: var(--clr-pop-red);
  overflow: hidden;
  transition: transform 200ms ease-in-out;
}

.card-info:hover {
  transform: scale(1.1);
}

.card-info img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
  margin: 0 auto 1em auto;
  
  }

  .item-image {
    display: none;
  }

  .lesson-types-button {
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    padding: 0.5em 1.5em;
    font-weight: bold;
    background: var(--clr-pop-red);
    color: black;
    box-shadow: 0.5em 0.5em 1.5em -1em;
    }

/* Lesson types section */

.lesson-type-backdrop {
  background: #f9f1e9;
  background-image: url(./img/blabber.jpg);
  background-blend-mode: overlay;
  
}

.lesson-types {
  margin: 0;
  padding-top: 1em;
}

.lesson-type-secondary {
  padding-top: 1em;
  background: #121212;
  background-image: url(./img/backdrop.jpg);
  background-blend-mode: overlay;
  
}

.lesson-title,
.item-title,
.links-title {
  font-family: 'Permanent Marker', cursive;
  
}

.lesson-title {
  text-align: center;
  color: var(--clr-pop-red);
}

.links-title {
  color: #121212;
  padding: 1em 2em;
  text-align: center;
}

.item-title {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.lesson-type-title {
  text-align: center;
}

.lesson-type-link {
  text-decoration: none;
}

.lesson-type-header,
.lesson-type-content {
  margin: 1em 0 1em 0;
}

.lesson-secondary {
  font-family: 'Roboto', sans-serif;
}

  /* conversation page */

.conversation {
  background: #fdfdfd;
  color: #08104f; 
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin: 0 auto 2em auto;
  width: 90%;
  align-self: center;
 
  
}

.centre-image {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.class-image {
  border-radius: 10px;
  width: 300px;
  margin-bottom: 1em;
  animation: zoomIn;
  animation-duration: 1s;
  box-shadow: -0.5em 0.5em 1.5em -1em;
}

.lesson-info-title {
  font-family: 'Permanent Marker', cursive;
  color:var(--clr-pop-red);
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.lesson-type-secondary-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.class-information {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.lesson-info-circle {
  min-width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: var(--clr-pop-red);
  color: #f5f5f5;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.class-info-logo img {
  display: none;
}

/* private tutoring page */

.blue {
  color: var(--clr-pop-blue);
}

.blue-bg {
  background: var(--clr-pop-blue);
  color: #f5f5f5;
}


/* page form */

form {
  font-family: 'Roboto', sans-serif;
}

.form-header {
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Permanent Marker', cursive;
}

.form-container {
  background: var(--clr-light-blue);
  padding: 1em;
  width: 80%;
  align-self: center;
  margin: 0 auto 2em auto;
  border-radius: 10px;
  box-shadow: 0.5em 0.5em 1em -0.5em rgba(0, 55, 179, 0.8);
}

input, select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: var(--clr-pop-red);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #ffa8d1;
  color: black;
}

.yellow {
  background: var(--clr-pop-yellow);
  
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-pop-red);
  text-align: center;
  padding: 2.5em 0;
  

}

.footer a { 
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: bold;
  font-size: 1.2rem;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}

.credits {
  font-size: 0.8rem;
  align-self: start;
  text-align: left;
  color: gray;
  margin-top: 1.5em;
}

/* KEYFRAMES */

@keyframes zoomIn {
  0% {
      opacity: 0;
      transform: scale(0);
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes moveInUp {
  0% {
      opacity: 0;
      transform: translateY(300px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}
}


/* MEDIA QUERIES */

@media(min-width: 768px) {

  .navbar {
    padding: 0.5em 2em;
  }
  
  .nav-item {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    margin-right: 2em;
    color: #08104f; 
  }

  .nav-color {
    background: #f9f1e9;
    color: #08104f;
  }

  .logo {
    font-size: 2rem;
    color: var(--clr-pop-red);
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4em;
    padding: 3em 2em 4em 2em;
    
  }

  .title-text {
    font-size: 4rem;
  }
  
  .secondary-title-text {
    font-size: 2.5rem;
  }

  .img-logo {
    max-width: 100%;
    height: 400px;
    
}


.title-info {
  text-align: left;
}

.title-info button {
  align-self: start; 
}


  .menu-title h1,
  .lesson-title h1,
  .links-title h1 {
    font-size: 4.5em;
    /* margin: 0.5em; */
  }

  .menu-cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    margin: 0 auto;
    /* width: 90%; */
    padding: 2em 3em;
    align-items: center;
  }

  .card-info {
    width: 350px;
    height: 350px;
  }
  
  .item-image {
    display: block;
  }

  .item-title {
    font-size: 2.5rem;
    
  }
  

    .about-card {
      min-height: 350px; 
      padding: 1.5em 2em;
      flex-direction: column;
    }

    .about-card p {
      font-size: 1.3rem;
    }

    .about-image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
    .class-image {
      display: block;
      border-radius: 10px;
      width: 500px;
      object-fit: cover;
        
    }

    .lesson-title {
      padding: 1em 2em;
      
    }

      .centre-image {
         order: 0;
      }

    .conversation {
      background: #fdfdfd;
      padding: 1em 2em; 
      box-shadow: 0.5em 0.5em 1.5em -1em;   
    }

    .lesson-info-title {
      margin-top: 1em;
    }

    .lesson-info-circle {
      width: 400px;
    }

    .class-info-logo img {
      display: block;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
      text-align: center;
    }

    .form-container {
      
      padding: 1em 2em;
    }


    .footer__link {
      font-size: 2rem;
    }
    
}

@media (min-width: 1068px) {
  .hero {
    position: relative;
  }
  
  .speech-bubble {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 30px;
  }

  .menu-cards {
    grid-template-columns: auto auto auto;
  }

  .lesson-type-header,
.lesson-type-content {
  margin: 1em 0 0.5em 0;
}

}

@media(max-width: 350px) {

  .footer__link {
    font-size: 1rem;
    }

  .lesson-info-title {
      font-size: 2rem;
    }

}




